# Ignore all files in specific directories
artist_wikipedia_html/

artwork_picture/
old_data/
separate_artwork_data/

# Ignore specific files
artwork_picture.zip
artwork_data/rename.csv
artwork_data/arwork_data_all.csv
artwork_data/arwork_data_image_done.csv

# Ignore virtual environment
.venv/
.DS_Store