

<!DOCTYPE html>
<html lang="en" data-lang="en" class="mainPopupOpen">
  <head>
    <!--=================================================
            메타 태그
    ==================================================-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ha Chonghyun</title>

    <meta name="title"      content="Ha Chonghyun">
    <meta name="description"    content="">
    <meta name="keywords"    content="">

    <meta itemprop="name" content="Ha Chonghyun">
    <meta itemprop="image" content="https://www.conjunction1935.com/views/res/imgs/common/og.jpg">
    <meta itemprop="url" content="https://www.conjunction1935.com/">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">

    <meta property="og:type"    content="website">
    <meta property="og:title"    content="Ha Chonghyun">
    <meta property="og:description"  content="">
    <meta property="og:image"    content="https://www.conjunction1935.com/views/res/imgs/common/og.jpg">
    <meta property="og:url"    content="https://www.conjunction1935.com/">

    <meta name="twitter:card"    content="summary">
    <meta name="twitter:title"    content="Ha Chonghyun">
    <meta name="twitter:description"  content="">
    <meta name="twitter:image"    content="https://www.conjunction1935.com/views/res/imgs/common/og.jpg">
    <meta name="twitter:domain"    content="https://www.conjunction1935.com/">

    <meta name="naver-site-verification" content="bf698c0f2f80c62a2a3c97f6110be2afdbf766fc">
    <meta name="google-site-verification" content="tst8I3OMTV4Lxydxr5kQQDjwz6JgtKuqEU0f5L2g5uE">

    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174565469-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-174565469-1');
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Ha Chonghyun",
        "url": "https://www.conjunction1935.com/",
        "sameAs": [
          "https://www.instagram.com/hachonghyun/",
          "https://www.facebook.com/hachonghyun"
        ]
      }
    </script>
    
    <link rel="canonical" href="https://www.conjunction1935.com/">

    <!--=================================================
        파비콘
    ==================================================-->
    <link rel="shortcut icon" href="/views/res/imgs/common/favicon.png">

    
    <!--=================================================
        스타일시트
    ==================================================-->
    <!--#####===== 폰트 CSS 라이브러리 =====#####-->
    <link  href="/views/res/fonts/font.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- fontawesome -->
    <link rel='stylesheet' href="/views/res/lib/default/fontawesome/css/all.min.css">

    <!--#####===== 필수 CSS 라이브러리 =====#####-->
    <!-- jQuery UI -->
    <link rel="stylesheet" href="/views/res/lib/default/jquery-ui-1.12.1/jquery-ui.min.css">
    <!--#####===== CSS 라이브러리 =====#####-->
    <link rel="stylesheet" href="/views/res/lib/default/slick/slick.css">

    <!--#####===== 공통 CSS =====#####-->
    <link id="baseCss" href="/views/res/css/base.css?v=8" media="all" rel="stylesheet">
    <link href="/views/res/css/animation.css?v=8" media="all" rel="stylesheet">
    <link href="/views/res/css/common.css?v=8" media="all" rel="stylesheet">

    <!--#####===== 파일 CSS =====#####-->
    
    <!--#####===== 페이지 CSS =====#####-->
    
    <!--#####===== 페이지 레이아웃 CSS 라이브러리 =====#####-->
    
    <!--#####===== 페이지 레이아웃 CSS =====#####-->
          <link rel="stylesheet" href="/views/layout/page/home/home.css?v=8">
    
    
    <!--#####===== 게시판 CSS =====#####-->
    
    <!--#####===== 프레임 CSS =====#####-->
    
          <!--#####===== 섹션 CSS =====#####-->
                <link rel="stylesheet" href="/views/layout/section/main/main_visual.css?v=8">
        

    <!--=================================================
            스크립트
    ==================================================-->
    <!--[if lt IE 9]>
    <script src="/views/res/lib/default/respond.min.js"></script>
    <script src="/views/res/lib/default/excanvas.min.js"></script>
    <![endif]-->

    <!-- 초기화코드 스크립트 -->
    <script src="/views/res/js/initialize.js"></script>
    <script>
      window.VIEWURL = "/views/";
      window.BASEURL = "https://www.conjunction1935.com/";
    </script>
    <!--#####===== 필수 JS 라이브러리 =====#####-->
    <!-- 제이쿼리 -->
    <script src="/views/res/lib/default/jquery-1.12.4/jquery-1.12.4.min.js"></script>
    <!-- 제이쿼리 UI -->
    <script src="/views/res/lib/default/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <!-- 부트스트랩 -->
    <script src="/views/res/lib/default/bootstrap_modal/js/bootstrap.min.js"></script>
  </head>
  <body id="home-home-body">

  <!--=================================================
            네비게이션
  ==================================================-->
  <!--#####===== 네비 CSS =====#####-->
<link rel="stylesheet" href="/views/layout/nav/nav7/style.css">

<!--네비게이션-->
<header class="header  home">
  <div class="fixed-wrap">
    <div class="header-inner">

      <h1 class="logo">
        <a href="/" class="logo-img">
          <span class="sr-only">Ha Chonghyun</span>
        </a>
      </h1>
      <nav class="pc-nav">
        <div class="menu-list-wrap">
                                    <div class="menu-list has-sub ">
                <a class="main-menu num1" href="/biography"><span class="text">About</span></a>
                <div class="sub-menu-list-wrap">
                  <div class="inner">
                                        <div class="sub-menu-list li1 ">
                      <a href="/biography" target=>
                        <span class="text ">Biography</span>
                      </a>
                    </div>
                                        <div class="sub-menu-list li2 ">
                      <a href="/bibliography" target=>
                        <span class="text ">Bibliography</span>
                      </a>
                    </div>
                                        <div class="sub-menu-list li3 ">
                      <a href="/collections" target=>
                        <span class="text ">Collections</span>
                      </a>
                    </div>
                                        <div class="sub-menu-list li4 ">
                      <a href="/links" target=>
                        <span class="text ">External links</span>
                      </a>
                    </div>
                                      </div>
                </div>
              </div>
                                                <div class="menu-list has-sub ">
                <a class="main-menu num2" href="/solo"><span class="text">History</span></a>
                <div class="sub-menu-list-wrap">
                  <div class="inner">
                                        <div class="sub-menu-list li1 ">
                      <a href="/solo" target=>
                        <span class="text ">Solo Exhibition</span>
                      </a>
                    </div>
                                        <div class="sub-menu-list li2 ">
                      <a href="/group" target=>
                        <span class="text ">Group Exhibition</span>
                      </a>
                    </div>
                                        <div class="sub-menu-list li3 ">
                      <a href="/affiliation" target=>
                        <span class="text ">Professional Affiliations</span>
                      </a>
                    </div>
                                      </div>
                </div>
              </div>
                                                <div class="menu-list ">
                <a class="main-menu" href="/art">
                  <span class="text">Art & Philosophy</p>
                </a>
              </div>
                                                <div class="menu-list has-sub ">
                <a class="main-menu num4" href="/video"><span class="text">Media</span></a>
                <div class="sub-menu-list-wrap">
                  <div class="inner">
                                        <div class="sub-menu-list li1 ">
                      <a href="/video" target=>
                        <span class="text ">Video</span>
                      </a>
                    </div>
                                        <div class="sub-menu-list li2 ">
                      <a href="https://kukjegallery.com/artists/view?seq=344#news" target=_blank>
                        <span class="text news">News</span>
                      </a>
                    </div>
                                      </div>
                </div>
              </div>
                                                <div class="menu-list ">
                <a class="main-menu" href="/contact/write">
                  <span class="text">Contact</p>
                </a>
              </div>
                              </div>
      </nav>
      
      <div class="header-right-wrap">
        <div class="btnPcNav menu-btn-wrap">
          <div class="menu-btn">
            <span class="line"></span>
          </div>
        </div>
      </div>
      <div class="navBg"></div>
      <div class="open-nav-wrap">
        <div class="floating-object-items nav">
          <div class="item1"><span></span></div>
          <div class="item2"><span></span></div>
          <div class="item3"><span></span></div>
          <div class="item4"><span></span></div>
        </div>
        <div class="floating-object-bg nav">
          <div class="item1"><span></span></div>
          <div class="item2"><span></span></div>
        </div>
        <div class="inner-wrap">
          <div class="menu-list-wrap">
                                          <div class="menu-list ">
                  <div class="sub-menu-list-wrap">
                                          <div class="sub-menu-list li1 ">
                      <a href="/biography" class="sub-menu-link" target=>
                        <span class="text ">
                          Biography                        </span>
                      </a>
                    </div>
                                          <div class="sub-menu-list li2 ">
                      <a href="/bibliography" class="sub-menu-link" target=>
                        <span class="text ">
                          Bibliography                        </span>
                      </a>
                    </div>
                                          <div class="sub-menu-list li3 ">
                      <a href="/collections" class="sub-menu-link" target=>
                        <span class="text ">
                          Collections                        </span>
                      </a>
                    </div>
                                          <div class="sub-menu-list li4 ">
                      <a href="/links" class="sub-menu-link" target=>
                        <span class="text ">
                          External links                        </span>
                      </a>
                    </div>
                                      </div>
                  <div class="main-menu has-sub ">
                    <a href="/biography">
                      <span class="text">About</span>
                      <i class="icon-arrow"></i>
                    </a>
                  </div>
                </div>
                                                        <div class="menu-list ">
                  <div class="sub-menu-list-wrap">
                                          <div class="sub-menu-list li1 ">
                      <a href="/solo" class="sub-menu-link" target=>
                        <span class="text ">
                          Solo Exhibition                        </span>
                      </a>
                    </div>
                                          <div class="sub-menu-list li2 ">
                      <a href="/group" class="sub-menu-link" target=>
                        <span class="text ">
                          Group Exhibition                        </span>
                      </a>
                    </div>
                                          <div class="sub-menu-list li3 ">
                      <a href="/affiliation" class="sub-menu-link" target=>
                        <span class="text ">
                          Professional Affiliations                        </span>
                      </a>
                    </div>
                                      </div>
                  <div class="main-menu has-sub ">
                    <a href="/solo">
                      <span class="text">History</span>
                      <i class="icon-arrow"></i>
                    </a>
                  </div>
                </div>
                                                        <div class="menu-list ">
                  <div class="main-menu">
                    <a href="/art">
                      <span class="text">Art & Philosophy</span>
                    </a>
                  </div>
                </div>
                                                        <div class="menu-list ">
                  <div class="sub-menu-list-wrap">
                                          <div class="sub-menu-list li1 ">
                      <a href="/video" class="sub-menu-link" target=>
                        <span class="text ">
                          Video                        </span>
                      </a>
                    </div>
                                          <div class="sub-menu-list li2 ">
                      <a href="https://kukjegallery.com/artists/view?seq=344#news" class="sub-menu-link" target=_blank>
                        <span class="text news">
                          News                        </span>
                      </a>
                    </div>
                                      </div>
                  <div class="main-menu has-sub ">
                    <a href="/video">
                      <span class="text">Media</span>
                      <i class="icon-arrow"></i>
                    </a>
                  </div>
                </div>
                                                        <div class="menu-list ">
                  <div class="main-menu">
                    <a href="/contact">
                      <span class="text">Contact</span>
                    </a>
                  </div>
                </div>
                                    </div>
          <div class="nav-info-wrap">
            <ul class="flex-row gutter-7">
              <li class="col-auto">
                <a href="http://hachonghyun.com/frame1.htm " class="link" target="_blank">Foundation</a>
              </li>
              <li class="col-auto">
                <a href="https://www.instagram.com/hachonghyun" class="link" target="_blank">Instagram</a>
              </li>
              <li class="col-auto">
                <a href="https://www.facebook.com/hachonghyun" class="link" target="_blank">Facebook</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

  <!--#####===== 네비 JS =====#####-->
  <script src="/views/layout/nav/nav7/script.js"></script>

  <!--=================================================
          페이지 컨텐츠
  ==================================================-->
  <div id="page-content-wrapper" class="page-wrap clear">

  <!--=================================================
            페이지 컨텐츠
    ==================================================-->
  <div id="home-home-page"
     class="page-content-wrap relative"
     data-layout="home/home">
        <!--=================================================
    [layout-page] home.php
==================================================-->

      
    <div class="area">
  <section class="main-visual section">
    <script src="/views/res/lib/custom/hammer/hammer.min.js"></script>
    <script src="/views/res/lib/custom/swiper/swiper.min.js"></script>
    <link rel="stylesheet" href="/views/res/lib/custom/swiper/swiper.min.css">

      <article class="mainVisualSlide">
        <div class="swiper-container" data-swiper="true">
          <!-- 스와이퍼영역 -->
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="img-wrap size-lg">
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-01_v1_except.jpg)" class="img none block-md"></div>
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-01-m@3x_v1_except.jpg)" class="img none-md"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img-wrap">
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-02_v1_except.jpg)" class="img none block-md"></div>
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-02-m@3x_v1_except.jpg)" class="img none-md"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img-wrap size-lg">
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-04_v1_except.jpg)" class="img none block-md"></div>
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-04-m@3x_v1_except.jpg)" class="img none-md"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img-wrap">
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-03_v1_except.jpg)" class="img none block-md"></div>
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-03-m@3x_v1_except.jpg)" class="img none-md"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img-wrap size-lg">
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-05_v1_except.jpg)" class="img none block-lg"></div>
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-05-m@3x_v1_except.jpg)" class="img none-lg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img-wrap">
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-06_v1_except.jpg)" class="img none block-lg"></div>
                <div style="background-image:url(/views/res/imgs/main/main-mainvisual-img-06-m@3x_v1_except.jpg)" class="img none-lg"></div>
              </div>
            </div>
          </div>
          <!-- 이미지영역 -->
          <div class="swiper-img-bg img01">
            <div class="inner">
              <div class="box"></div>
            </div>
          </div>
          <!-- 정보영역(PC) -->
          <div class="swiper-info-wrap none block-md">
            <h2 class="title">
              <div class="textAni" data-ani="reveal" data-ani-color="#000" data-ani-position="-1000" data-ani-delay="400">
                Counjunction
              </div>
            </h2>
            <div class="desc">
              <div data-ani="reveal" data-ani-color="#000" data-ani-position="-1000" data-ani-delay="800">
                The conjunction between the materials, oil paint
              </div>
              <div data-ani="reveal" data-ani-color="#000" data-ani-position="-1000" data-ani-delay="1000">
                and hemp cloth, and my spirit and performance.
              </div>
            </div>
            <div class="inline-block" data-ani="reveal" data-ani-position="-1000" data-ani-color="#000" data-ani-delay="1200">
              <a href="/biography" class="btn-md-auto btn-underline">
                <span class="text">See more</span><i class="icon-arrow"></i>
              </a>
            </div>
          </div>
          <!-- 정보영역(MOBILE) -->
          <div class="swiper-info-wrap none-md">
            <h2 class="title">
              <div class="textAni" data-ani="reveal" data-ani-position="-1000" data-ani-color="#000" data-ani-delay="200">
                Counjunction
              </div>
            </h2>
            <div class="inline-block" data-ani="reveal" data-ani-position="-1000" data-ani-color="#000" data-ani-delay="600">
              <a href="/biography" class="btn-md-auto btn-underline">
                <span class="text">See more</span><i class="icon-arrow"></i>
              </a>
            </div>
          </div>
        </div>
      </article>
  </section>
</div>

          <!--#####===== 섹션 CSS =====#####-->
      <link rel="stylesheet" href="/views/layout/section/main/main_visual.css">
    

          <!--#####===== 섹션 JS =====#####-->
      <script src="/views/layout/section/main/main_visual.js"></script>
    
    </div><!--/.page-content-wrap-->
  </div>

  
  <!--=================================================
          팝업
  ==================================================-->
  <!--=================================================
        알림 창
==================================================-->
<div id="alert_modal" class="modal alert-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn-popup btn-point modal-btn ok_btn" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!--=================================================
        컨펌 창
==================================================-->
<div id="confirm_modal" class="alert-modal modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4> 
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body word-break"></div>
      <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn-popup btn-outline-style1 cancel_btn" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn-popup btn-point ok_btn">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=================================================
        프롬프트 확인창
==================================================-->
<div id="prompt_modal" class="alert-modal modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please enter a prompt</h4>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="prompt_text"></div>
        <input type="text" class="form-control prompt_input">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-popup btn-point modal-btn" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!--=================================================
        팝업
==================================================-->


  <!--=================================================
          폼
  ==================================================-->
  <!--=================================================
      삭제 폼
==================================================-->
<form id="delete_bc_form" action="/_board/delete" method="post">
  <input type="hidden" name="ctn" value="657f2198465d8f8903ef5ba32aaaa264" />
  <input type="hidden" name="pkval">
  <input type="hidden" name="redirect"  value="https://www.conjunction1935.com/">
</form>

<!--=================================================
      리스트 폼
==================================================-->
<form id="list_form" action="/_crud/list_change" method="post">
  <input type="hidden" name="table"    value="">
  <input type="hidden" name="redirect"  value="https://www.conjunction1935.com/">
  <input type="hidden" name="type">
  <input type="hidden" name="json">
</form>


<!--=================================================
      다운로드 폼
==================================================-->
<form id="download_form" action="/_files/download" method="get">
  <input type="hidden" name="idx">
</form>
  <!--=================================================
           푸터
  ==================================================-->
      <footer id="footer">
  <div class="area">
    <div class="footer-content">
      <div class="left-area">
        <ul class="link-items">
          <li class="item">
            <a href="http://hachonghyun.com/frame1.htm" target="_blank">Foundation</a>
          </li>
          <li class="item">
            <a href="https://www.instagram.com/hachonghyun" target="_blank">Instagram</a>
          </li>
          <li class="item">
            <a href="https://www.facebook.com/hachonghyun" target="_blank">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="right-area">
        <ul class="link-items">
          <li class="item">
            <a href="/en/privacy">Privacy Policy</a>
          </li>
          <li class="item sub-color2">
            <a href="/en/cookie">Cookie Policy</a>
          </li>
        </ul>
        <small class="copyright">
          © 2020 hachonghyun foundation All Rights Reserved.
        </small>
      </div>
    </div>
  </div>
</footer>
<!-- 모달 팝업-->  
  <!--=================================================
          언어데이터
  ==================================================-->
  <script>
  var UTILS = {};

  UTILS.langObj = {
    //유효성 검사
    require         : "require",

    empty         : "enter",
    select     : "choose",
    radio     : "select",
    check      : "check",
    empty_comb      : "Please <%= action %> a valid <%= label %>.",

    file_comb      : "Only <%= ext %> file type can be registered.",

    length_min_txt      : "at least",
    length_max_txt      : "less than",
    length_comb      : "<%= label %> must be <%= length_min_txt %> <%= min_len %> <%= length_max_txt %> <%= max_len %> characters.",

    pwsame_confirm : "Passwords must match.",

    num         : "You can only enter numbers.",
    dashnum     : "Only numbers, special symbols (-) can be entered.",
    low_eng     : "You can only enter lowercase English characters.",
    up_eng      : "You can only enter uppercase letters in English.",
    eng         : "You can only type in English.",
    kor         : "You can only type in Korean.",
    low_eng_num : "Only lowercase letters, numbers, and special symbols (_) are allowed.",
    up_eng_num  : "Only uppercase letters, numbers, and special symbols (_) are allowed.",
    eng_num     : "Only alphanumeric, numeric, and special symbols (_) are allowed.",
    eng_num_dash: "",
    email       : "You can only enter a valid email address.",
    mobile      : "Only valid mobile phone number can be entered.",
    phone       : "Only valid phone numbers can be entered.",
    url         : "Only valid domain information can be entered.",
    password    : "English and numbers must be combined.",
    regxp_comb    : "<%= label %> <%= regexp %>",

    db_exist_comb    : "Duplicate values exist in the <%= label %>.",
    
    //성별
    msg_남성 : "Male Male", //남성
    msg_여성 : "Female Female", //여성

    //회원가입
    msg_이전 : "Prev.", // 이전
    msg_다음 : "Next step", // 다음
    msg_가입하기 : "Register", // 가입하기


    // [ Message ]
    //공통
    msg_확인 : "OK", // 확인
    msg_등록 : "Post",// 등록
    msg_수정 : "Modifications",// 수정
    msg_되었습니다 : "completed",// 되었습니다
    msg_등록완료 : "Successfully registered.",// 등록되었습니다.
    msg_삭제완료 : "Deleted successfully.",// 삭제되었습니다.
    msg_삭제확인 : "Are you sure you want to delete?",// 삭제하시겠습니까?
    msg_탈퇴확인 : "Are you sure you want to delete the account?", //탈퇴하시겠습니까?
    msg_검색어입력 : "Please enter a search term.", // 검색어를 입력해주세요.
    msg_잘못된요청 : "Invalid request.",// 잘못된 요청입니다.
    msg_인증실패 : "Authentication failed.<br>Error:.",// 인증에 실패하였습니다.<br> 에러내용
    msg_필수값입력 : "Please enter the required value.",//필수값을 입력해주세요.
    msg_자동등록방지 : "Please check the reCAPTCHA.",//자동등록방지를 체크해주세요.
    msg_최대길이1 : "maximum of",// 최대 @숫자
    msg_최대길이2 : "characters in length.",// @자 이내로 작성해주세요

    //로그인&회원가입
    msg_로그인_필요 : "Please log in to proceed.",//로그인이 필요합니다.
    msg_로그인_필요_로그인페이지이동 : "Please log in to proceed.<br>Would you like to go to the login page",//로그인이 필요합니다. 로그인페이지로 이동하시겠습니까?
    msg_회원가입_종료 : "Will you close Register?",//회원가입을 종료하시겠습니까?

    //상품
    msg_선택 : "Select",// 선택
    msg_선택된상품을 : "Are you sure you want to ",// 선택된 상품을 (영문은 '하시겠습니까?'와 반대 순서)
    msg_하시겠습니까 : " the selected items?",// 하시겠습니까?
    msg_상품_상품선택 : "Please select a product to order.",// 주문하실 상품을 선택하여 주세요.
    msg_상품_옵션선택 : "Please select the required option.",// 필요한 옵션을 선택해주세요.
    msg_상품_중복_추가상품 : "This additional Product is already selected.",// 이미 선택된 추가상품 입니다.
    msg_상품_중복_옵션 : "This option is already selected.",// 이미 선택된 옵션입니다.
    msg_상품_최대수량 : "You have exceeded the maximum orderable quantity.",// 최대 주문가능 수량을 초과하셨습니다.
    msg_상품_최소수량 : "Minimum orderable quantity.",// 최소 주문가능 수량입니다.
    msg_결제실패_에러 : "Payment failure.<br>Error : ", // 결제에 실패했습니다.<br>에러내용: 
    msg_모두구매확정_안내문구 : "All orders for the same order are confirmed.", //같은 주문에 대한 모든 주문상품이 구매확정됩니다.
    msg_반품취소교환상품은예외 : "The only exceptions are items that have already been returned, canceled, exchanged or requested.", // 단 이미 반품, 취소, 교환을 하거나 요청한 상품은 예외입니다.
    msg_구매확정이후불가능 : "After the purchase is confirmed, return or exchange is not possible.", // 구매확정 이후에는 반품, 교환이 불가능합니다.

    //위시리스트
    msg_위시리스트_삭제확인 : "Are you sure you want to delete the product from the Wish List?",// 상품을 위시리스트에서 삭제하시겠습니까?

    //장바구니
    msg_장바구니_삭제확인 : "Are you sure you want to delete the item from the shopping cart?",// 상품을 장바구니에서 삭제하시겠습니까?
    msg_장바구니_삭제_상품없음 : "There are no products to delete.",// 삭제할 상품이 없습니다.
    msg_장바구니_선택해제 : "Please deselect non-purchasable products.",// 구매 불가능 상품 선택을 해제해주세요

    //작성 및 등록
    msg_등록_파일제한_이미지 : "Only image files can be registered.",//이미지 파일만 등록 가능합니다.
    msg_등록_최대용량 : "Maximum capacity exceeded.",//최대용량을 초과하였습니다.
    msg_등록_최대갯수1 : "You can register up to ",//사진은 최대 @개 까지 등록하실수 있습니다.
    msg_등록_최대갯수2 : "pictures.",
    msg_등록_연속등록 : "You cannot write continuously.<br>Please wait.", //연속해서 작성하실 수 없습니다.<br>잠시 후에 다시 등록해주세요.
  
    //댓글
    msg_댓글_삭제확인 : "Are you sure you want to delete the comments?<br>Any comments you delete cannot be recovered.", //"Are you sure you want to delete the comments?<br>Any comments you delete cannot be recovered." //댓글을 삭제하시겠습니까?<br>삭제한 댓글은 복구할 수 없습니다.

    //문구
    msg_품절 : "Sold Out", // 품절, sold out
  }
</script>

  
  
  <!--=================================================
          스크립트
  ==================================================-->
  <!--#####===== JS 라이브러리 =====#####-->
  <!-- lodash -->  <script src="/views/res/lib/custom/lodash/lodash.min.js"></script>
  <!-- Slick -->  <script src="/views/res/lib/default/slick/slick.js"></script>
  <!-- anime --> <script src="/views/res/lib/custom/anime/anime.min.js"></script>
  <!-- 스크롤 모니터 --> <script src="/views/res/lib/custom/scrollMonitor/scrollMonitor.js"></script>
  <!-- 스크롤 커스텀 --> <script src="/views/res/lib/custom/niceScroll/jquery.nicescroll.min.js"></script>
  <!-- BlockRevealers --> <script src="/views/res/lib/custom/BlockRevealers/main.js"></script>
  <!-- dotdotdot(말줄임) --> <script src="/views/res/lib/default/dotdotdot/jquery.dotdotdot.min.js"></script>
  <script src="/views/res/lib/default/jquery-form/js/jquery.form.min.js"></script>
  
  <!--#####===== 공통 JS =====#####-->
  <script src="/views/res/js/utils/asyncLoader.js"></script>
  <script src="/views/res/js/helper.js"></script>

  <!--#####===== 페이지 레이아웃 JS 라이브러리 =====#####-->
  
  <!--#####===== 공통 JS =====#####-->
  <script src="/views/res/js/script.js?v=8"></script>

  <!--#####===== 파일 JS =====#####-->
  
  <!--#####===== 페이지 JS =====#####-->
  
  <!--#####===== 페이지 레이아웃 JS =====#####-->
    <script src="/views/layout/page/home/home.js?v=8"></script>
  
  
  <!--#####===== 게시판 JS =====#####-->
    <!--#####===== 프레임 JS =====#####-->
  
  </body>
  </html>

